body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#cam_observer {
	transform: scaleX(-1);
}
#output span {
  transition: opacity 0.1s;
}
.none { opacity: 0; }
.trace { opacity: 0.2; }
.some { opacity: 0.7; }
.lots { opacity: 1; }
